//- General colors
- var mainColor ="#4285f4"
- var whiteText= "white"
- var gray = "#b3bac7"

//- Define Reset attributes
- var tableAtt = {'border':'0', 'cellspacing':'0', 'cellpadding':'0' }
- var tdCenter = {'align':'center','valign':'top'}

//- Define style attributes
- var styleTable = {'table-layout': 'fixed'}

//- Custom Resets
- var styleLinks = {'color': whiteText, 'font-size': '15px'}

//- Images path -> Change this one in case of testing with litmus tool
    To deploy example images, you could use Netifly.
    and update below path
- var imagePath = 'http://netlify.com/pathofimage'

//- Include Mixins
include mixins.pug
