<!--[if (gte mso 9)]>
  <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
  style(type="text/css").
      /*outlook remove links when they have a empty href */
      .outlookUnderline {
          text-decoration: underline!important;
      }
      body,table,td,font{font-family: #{fallback} !important; }
<![endif]-->


