@media only screen and (max-width: 599px) {
        table[class=accordionShow]:hover .readMore {
          line-height: 0 !important;
          height: 0 !important;
          color: #fff
        }
        table[class=accordionShow]:hover .readMore:before {
          content: 'Read More >';
          line-height: 0 !important;
          font-size: 0 !important;
          color: #fff
        }
        table[class=accordionShow]:hover+.close {
          display: table !important
        }
        div[class=outerHidden] {
          overflow: hidden !important;
          transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s
        }
        div[class=innerHidden] {
          transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          margin-top: -700%
        }
        table[class=accordionShow]:hover .outerHidden {
          height: auto !important
        }
        table[class=accordionShow]:hover .innerHidden {
          margin-top: 0%
        }
        td[class=readMore]:before {
          content: 'Read More >';
          text-decoration: underline;
          font-family: 'Roboto Condensed', Helvetica, Arial;
          font-size: 14px;
          line-height: 2.1;
          font-weight: bold
        }
        .isi td[class=readMore]:before {
          content: 'Read More >';
          text-decoration: underline;
          font-family: 'Roboto Condensed', Helvetica, Arial;
          font-size: 14px;
          line-height: 1.3;
          font-weight: bold
        }
}
    .pdb {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px !important;
      font-weight: normal;
      line-height: 1.3;
      font-weight: bold
    }
    .accordion-text {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 17px;
      font-weight: normal;
      line-height: 1.3;
      font-weight: bold;
      padding-bottom: 0px
    }
