table(width='600' style="color: white;background: #657084" class="w480")&attributes(tableAtt)
        tr
            td(class="blockwrap h30" width="200" height="50"  style="padding-top:15px;")&attributes(tdCenter)
                a(href="#" style=styleLinks) www.offersite.com
            td(class="blockwrap h30 p0" width="200" height="50"  style="padding-top:15px;")&attributes(tdCenter)
                a(href="#" style=styleLinks) more information
            td(class="blockwrap h30 p0" width="200" height="50"  style="padding-top:15px;")&attributes(tdCenter)
                //- Extend or update a style value
                - styleLinks['font-size'] = '20px'
                a(href="#" style=styleLinks) contact us
                +tel_link("1-888-8833","1-800FDA")
