table(width='600' border="0" cellspacing="0" cellpadding="0" style="color: white;background: #657084" class="w480")
        tr
            td(class="blockwrap h30" align="center" valign="top" width="200" height="50"  style="padding-top:15px;")
                a(href="#" style=`color:${whitetext};`) www.offersite.com
            td(class="blockwrap h30 p0" align="center" valign="top" width="200" height="50"  style="padding-top:15px;")
                a(href="#" style=`color:${whitetext};`) more information
            td(class="blockwrap h30 p0" align="center" valign="top" width="200" height="50"  style="padding-top:15px;")
                a(href="#" style=`color:${whitetext};`) contact us