<!-- START WARNING_RESPONSIVE MODULE -->
table(width=max_w class="deviceWidth" align="center" style="margin:0 auto;")&attributes(tableAtt)
  tr
    td
      <!--[if !mso]><!-->
      div(style="display:none;" class="show")
        table&attributes(tableAtt)
          tr(style="width:0; overflow:hidden; float:left; display:none; max-height:0px; mso-hide:all;" class="me")
            td(align="center")
              table(width="100%" align="center")&attributes(tableAtt)
                tr
                  td(width="12" class="em_hide")
                  td(align="center" valign="top")
                    table(width="100%" align="center")&attributes(tableAtt)
                      +vSpacer(5)
                      tr
                        td(align="center" valign="top")
                          table(width="96%" align="center")&attributes(tableAtt)
                            tr
                              td(height="3" style="line-height:1px; font-size:1px;") &nbsp;

                          table(class="isi" width="96%" align="center" style="border:2px solid #000000")&attributes(tableAtt)
                            tr
                              td(align="center" valign="top")
                                table(id="partVisible2" width="100%" align="center" class="accordionShow")&attributes(tableAtt)
                                  tr(height="2")
                                    td
                                  tr
                                    td(width="8")
                                    td
                                      table&attributes(tableAtt)
                                        tr
                                          td
                                            a(href="#partVisible2" style="display:block; text-decoration:none; color:inherit;")
                                              div
                                                table(width="100%" align="center")&attributes(tableAtt)
                                                  tr
                                                    td(align="left" valign="top")
                                                      table&attributes(tableAtt)
                                                        tr
                                                          td
                                                            table&attributes(tableAtt)
                                                              tr
                                                                td(align="center" class="accordion-text test" style="padding: 0 14px 0 0px;").
                                                                   Lorem ipsum.
                                                                  <br> Lorem ipsum.
                                                                  <br> Lorem ipsum.
                                                              +vSpacer(9)
                                                              tr
                                                                td(align="center" class="accordion-text test" style="font-style:italic; padding: 0 14px 0 0px;").
                                                                  asdf

                                                              tr
                                                                td(class="accordion-text u" style="padding: 10px 14px 0 0;").
                                                                  asdf

                                                              tr
                                                                td(style="padding: 4px 2px 0 0;")
                                                                  table(width="100%" align="center")&attributes(tableAtt)
                                                                    tr
                                                                      td(valign="top" class="pdb" style="padding-right:2px;") &bull;
                                                                      td(valign="top" class="pdb").
                                                                        asdf

                                                        tr
                                                          td(valign="top")
                                                            table(width="100%" align="right")&attributes(tableAtt)
                                                              tr
                                                                td(class="readMore" align="right" valign="middle" style="padding-right:0;") &nbsp;

                                        tr
                                          td
                                            div(class="outerHidden")
                                              div(class="innerHidden")
                                                table(width="100%")&attributes(tableAtt)
                                                  tr
                                                    td(align="center" valign="top")
                                                      table(width="100%" align="center")&attributes(tableAtt)
                                                        tr
                                                          td
                                                            table(width="100%" align="center")&attributes(tableAtt)
                                                              tr
                                                                td(valign="top" class="accordion-text" style="padding-right:7px;")
                                                                td(valign="top" class="accordion-text").
                                                                   Lorem ipsum.
                                                        tr
                                                          td(style="padding: 0 2px 2px 0;")
                                                            table(width="100%" align="center")&attributes(tableAtt)
                                                              tr
                                                                td(valign="top" class="accordion-text" style="padding-right:2px;") &bull;
                                                                td(valign="top" class="accordion-text").
                                                                   Lorem ipsum.
                                                        tr
                                                          td(height="10" style="line-height:10px; font-size:1px;") &nbsp;
                                                        tr
                                                          td(class="accordion-text").
                                                            Lorem ipsum.
                                                              #[sup(style="font-size: 70%; line-height: 0; vertical-align: 5px;") &reg;]
                                                              #[br] Lorem ipsum.
                                                        tr
                                                          td(height="10" style="line-height:10px; font-size:1px;") &nbsp;
                                                        tr
                                                          td(class="accordion-text").
                                                            #[span(class="u" style="text-decoration: underline;")  Lorem ipsum.].
                                                               Lorem ipsum.
                                                        tr
                                                          td(style="padding: 2px 0 4px 0;")
                                                            table(width="100%" align="center")  Lorem ipsum.
                                                              tr
                                                                td(valign="top" class="accordion-text" style="padding-right:2px;") &bull;
                                                                td(valign="top" class="accordion-text").
                                                                   Lorem ipsum.
                                                        tr
                                                          td(height="10" style="line-height:10px; font-size:1px;") &nbsp;
                                                        tr
                                                          td(class="accordion-text u").
                                                             Lorem ipsum.
                                                        tr
                                                          td(style="padding: 2px 0 4px 0;")
                                                            table(width="100%" align="center")&attributes(tableAtt)
                                                              tr
                                                                td(valign="top" class="accordion-text" style="padding-right:2px;") &bull;
                                                                td(valign="top" class="accordion-text").
                                                                  Significantly increased risk of deep vein thrombosis
                                                                    (DVT) and pulmonary embolism(PE), as well as risk
                                                                    of myocardial infarction and stroke in patients
                                                                    with multiple myeloma receiving REVLIMID with dexamethasone.
                                                                    Anti-thrombotic prophylaxis is recommended.




                                    td(width="10")

                                table(width="100%" align="center" class="close" style="display: none;")&attributes(tableAtt)
                                  tr
                                    td(align="right")
                                      a(href="#adv" width="100%" class="accordionShow" style="display:block; text-decoration:none; color:inherit;font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.3; font-weight: bold; text-decoration: underline; padding-right:10px;") Read Less &gt;
                                    td(width="10")
                                table&attributes(tableAtt)
                                  tr
                                    td(height="8")
                      +vSpacer(2)
                      +vSpacer(10)
                  td(width="12" class="em_hide")
      <!--<![endif]-->
table(width="620" class="deviceWidth" align="center" style="margin:0 auto;")&attributes(tableAtt)
  tr
    td(valign="top" style="padding:0" bgcolor="#ffffff" class="zeroPadding")
      table(class="mobileWidth" align="center" width="100%" bgcolor="#f1b720")&attributes(tableAtt)
        +vSpacer(6)
        tr
          td
            table(bgcolor="#1eb5e3" align="center" width="100%")&attributes(tableAtt)
              +vSpacer(18)
              tr
                td
                  table(class="mobileWidth" align="center" width="100%")&attributes(tableAtt)
                    tr
                      td(width="10" height="11" style="font-size:0px; line-height:11px;mso-line-height-rule:exactly;") &nbsp;
                      td(align="center")
                        table(class="mobileWidth" align="center" width="100%")
                          each val in warning_h.headlines
                            tr
                              td(align="center")
                                font(class="mobile_font_1 mobile_line_height" width="auto" style="font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: 700; color: #ffffff; font-size: 27px; line-height:30px; text-decoration:none !important; text-decoration:none;").
                                  #{val}
                          tr
                            td(align="center")
                              table(class="mobileWidth" align="center" width="100%")&attributes(tableAtt)
                                tr
                                  td(width="10" height="9" style="font-size:0px; line-height:9px;mso-line-height-rule:exactly;") &nbsp;
                                tr
                                  td(width="10" height="12" style="font-size:0px; line-height:12px;mso-line-height-rule:exactly;") &nbsp;

                      td(width="10" height="14" style="font-size:0px; line-height:14px;mso-line-height-rule:exactly;") &nbsp;
<!-- END WARNING_RESPONSIVE MODULE -->
