doctype html
html
    head
        title Automate emails
        style
          :clean-css
            body{
                text-align:center;
            }
            section{
                min-width: 600px;
                width: 960px;
                margin: 0 auto;
            }
            ul{
                display: inline-block;
            }
    body
        h1 List of emails
        section(class="hide")
            ul
                each val in links
                    li
                        a(href=val)=val
