block variables
html
    head
        -var title = title || "Email template"
        title #{title}
        style(type="text/css")
            include ../includes/css/reset.css
        block styles
    body(style="margin:0; padding:0;" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0")
        table(width="100%" border="0" cellspacing="0" cellpadding="0")
            tr
                td(align="center" valign="top")
                    block content